---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// Our variables
$body-font-stack: Helvetica, sans-serif
$header-font-stack: Helvetica, sans-serif
$base-font-size:   16px
$base-font-size-compact:  $base-font-size * 0.875
$baseline-multiplier: 1.5
$baseline: $base-font-size * $baseline-multiplier

$color-nnt-purple: #A54499
$color-nnt-orange: #FFC425

$color-text-white: #eee
$color-text:       $color-text-white
$color-background: darken($color-nnt-purple, 37%)
$color-background-alt: #aaa
$color-brand:      #2a7ae2
$color-brand-alt:      #2a7ae2

$color-link: blue
$color-link-visited: violet
$color-link-highlight: blue

$color-grey:       #828282
$color-grey-light: lighten($color-grey, 40%)
$color-grey-dark:  darken($color-grey, 25%)

$color-selection: blue

$grid-transition-enable: false


// Import partials from `sass_dir` (defaults to `_sass`)

@import "bourbon/bourbon"
@import "fgrid/fgrid"

@import "type"
@import "layout"
@import "tables"
@import "person-list"

@import "header"
@import "page"
@import "shows"
@import "footer"

