---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

$site-url: "{{ site.url }}"

// Our variables
$body-font-stack: 'Open Sans', Helvetica, sans-serif
$header-font-stack: 'Montserrat', sans-serif
$base-font-size: 17px
$base-font-size-compact:  $base-font-size * 0.875
$baseline-multiplier: 1.6
$baseline: $base-font-size * $baseline-multiplier

$color-nnt-purple: #A54499
$color-nnt-orange: #FFC425

$color-black: #1c1c1c

$color-text-white: #eee
$color-text:       $color-text-white
$color-text-black: #111

$color-white: #f1f1f1

$color-background: darken($color-nnt-purple, 37%)
$color-background-alt: darken($color-nnt-purple, 23%)

$color-link: #FFC425
$color-link-visited: darken($color-link, 07%)
$color-link-bg-hover: darken($color-nnt-purple, 20%)

$color-decades-base: #601111

$color-error: #601111
$color-warning: #864116
$color-success: #116019
$color-info: #114560

$color-grey:       #828282
$color-grey-light: lighten($color-grey, 40%)
$color-grey-dark:  darken($color-grey, 25%)

$color-selection: $color-nnt-orange

$grid-transition-enable: false
$grid-column-count: 16
$grid-row-padding: $baseline
$grid-column-start: "tab-port"
$grid-column-end: "mob-land"

// Import partials from `sass_dir` (defaults to `_sass`)

@import "../lib/bourbon/app/assets/stylesheets/bourbon"
@import "../lib/fgrid/fgrid"

$fa-font-path: "/lib/font-awesome/fonts"
@import "../lib/font-awesome/scss/font-awesome"

$ionicons-font-path: "/lib/ionicons/fonts"
@import "../lib/ionicons/scss/ionicons"

$octicons-font-path: "/lib/octicons/octicons/"
@import "../lib/octicons/octicons/sprockets-octicons.scss"

@import "pygments/monokai"

@import "mixins"

@import "debug"
@import "type"
@import "layout"
@import "tables"
@import "person-list"
@import "boxes"
@import "breadcrumbs"
@import "fancybox"
@import "buttons"
@import "forms"
@import "flex"
@import "meta-row"

@import "header"
@import "page"
@import "home"
@import "shows"
@import "show-list"
@import "decades"
@import "years"
@import "people"
@import "search"
@import "footer"
@import "docs"
@import "report"
@import "collect"
@import "seasons"

@import "posterwall"
@import "year-graph"
@import "poster-bar"

@import "bugfix/fancybox"

@import "shame"
