_site/
.sass-cache/
lib/
node_modules/
_asset_bundler_cache/
.jekyll-metadata
_smugmug_cache/
tmp/

for_shows_uncompressed
for_shows_process

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
