# Site settings
title: Nottingham New Theatre History Project
email: alumni@newtheatre.org.uk
twitter: nntalumni
description: "Archive project collecting past shows, committees and alumni biographies to piece together the theatre's dynamic and vibrant history."
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://history.newtheatre.org.uk" # the base hostname & protocol for your site
ntbot_endpoint: "https://ntbot.flatcar.xyz/post_issue" # For issue posting

# How many shows is too few for a year
year_low_shows: 16
# How many crew members is too few for a show
show_low_crew: 5
# How many members members is too few for a committee
committee_low_members: 12

# Styling vars shared between CSS and HEAD
color_nnt_purple: "#A54499"
color_nnt_orange: "#FFC425"

# Build settings
markdown: kramdown
permalink: pretty

gems:
- jekyll-sitemap
- jekyll-redirect-from
- jekyll-coffeescript

exclude:
- bower.json
- coffeelint.json
- CONTRIBUTING.md
- Gemfile
- Gemfile.lock
- node_modules
- package.json
- Rakefile
- README.md
- tmp/
- Vagrantfile
- vendor

# skip_years: true
# skip_venues: true
# skip_seasons: true
skip_virtual_people: true

# Specify year range for generation
year_start: 1940
year_end: 2015

# Estimation conf
estimate_recency_limit: 2 # How many years to wait until guessing someone has left

collections:
  shows:
    output: true
    # Generate the legacy path for 301 redirect re. #142 Make semantic and pretty urls
    permalink: years/:path/
  committees:
    output: true
    permalink: years/:path/committee/
  years:
    output: true
    permalink: years/:path/
  venues:
    output: true
    permalink: venues/:path/
  seasons:
    output: true
    permalink: seasons/:path/
  people:
    output: true
    permalink: people/:path/

defaults:
  # Shows
  - scope:
      path: ""
      type: shows
    values:
      layout: show
      body_class: header-nobr
      current: archives
  # Committees
  - scope:
      path: ""
      type: committees
    values:
      layout: committee
      current: archives
  # Years
  - scope:
      path: ""
      type: years
    values:
      layout: year
      group: year
      body_class: header-nobr
      current: archives
      editable: false
      sitemap: false
  - scope:
      path: ""
      type: venues
    values:
      layout: venue
      group: venue
      body_class: header-nobr
      current: archives
      editable: false
  - scope:
      path: ""
      type: seasons
    values:
      layout: season
      group: season
      body_class: header-nobr
      current: archives
      editable: false
  # People
  - scope:
      path: ""
      type: people
    values:
      layout: person
      group: person
      current: people
      contact_allowed: false
      placeholder: false
      award: []
      careers: []
      links: []
      news: []
  - scope:
      path: "about"
    values:
      current: about
  - scope:
      path: "docs"
    values:
      current: about
  - scope:
      path: "util"
    values:
      layout: util
      group: util
      sitemap: false
      search: false

image:
  source: images
  output: images/resized
  presets:
    show_poster_thumb:
      attr:
        class: show-poster-thumb
        alt: Show poster
      width: 40
    show_poster_thumb_sr:
      attr:
        class: search-result-poster-thumb
        alt: Show poster
      width: 140
    person_show_poster:
      attr:
        alt: Show poster
      width: 200
    show_poster:
      attr:
        class: show-poster
        alt: Show poster
      width: 440
    posterwall:
      attr:
        alt: Show poster
      width: 440
    show_asset:
      attr:
        alt: Show asset
      width: 190
    show_photo:
      attr:
        alt: Show photo
      width: 300
    person_headshot:
      attr:
        alt: Person headshot
      width: 160
    person_headshot_micro:
      attr:
        alt: Person headshot
      width: 48

sass:
  style: :compressed

lib:
  js:
    - lib/jquery/dist/jquery.js
    - lib/underscore/underscore.js
    - lib/fancybox/lib/jquery.mousewheel-3.0.6.pack.js
    - lib/fancybox/source/jquery.fancybox.pack.js
    - lib/fancybox/source/helpers/jquery.fancybox-buttons.js
    - lib/fancybox/source/helpers/jquery.fancybox-media.js
    - lib/fancybox/source/helpers/jquery.fancybox-thumbs.js
    - lib/letteringjs/jquery.lettering.js
    - lib/mousetrap/mousetrap.min.js
    - lib/lunr.js/lunr.min.js

# Config for the prose editor
prose:
  ignore: ['_bin', '_utilities', 'CNAME', '.gitignore', 'js', 'css', '_site', '_sass', '_layouts', '_includes', '.travis.yml', 'Gemfile', 'Gemfile.lock', 'lib', 'js', '_plugins', 'feeds', '_years', '.bowerrc', '.gitmodules', '_config.yml', 'bower.json', 'googlee5aee69e17917677.html', 'package.json', 'robots.txt']
  siteurl: "https://history.newtheatre.org.uk"
  media: "images"
  metadata:
    _shows:
      - name: "published"
        field:
          element: "hidden"
          value: true
      - name: "title"
        field:
          element: "text"
          label: "Show Name"
      - name: "playwright"
        field:
          label: "Playwright"
          element: "text"
      - name: "student_written"
        field:
          label: "Student Written"
          help: "Is this show written by an NT member?"
          element: "boolean"
      - name: "season"
        field:
          label: "Season"
          element: "select"
          options:
            - name: "In House"
              value: "In House"
            - name: "Fringe"
              value: "Fringe"
            - name: "Edinburgh"
              value: "Edinburgh"
      - name: "season_sort"
        field:
          label: "Season Sort"
          element: "text"
          help: "Number used to sort the season. Use multiples of ten for flexibility, i.e. the third show of the season would be 30."
      - name: "period"
        field:
          label: "Season Period"
          element: "select"
          options:
            - name: "Autumn"
              value: "Autumn"
            - name: "Spring"
              value: "Spring"
            - name: "Edinburgh"
              value: "Edinburgh"
      - name: "venue"
        field:
          element: "text"
          label: "Venue"
          help: "Venue show was performed in."
      - name: "date_start"
        field:
          element: "text"
          label: "Start Date"
          help: "Date of first performance in format YYYY-MM-DD"
      - name: "date_end"
        field:
          element: "text"
          label: "End Date"
          help: "Date of last performance in format YYYY-MM-DD"
    _committees:
      - name: "published"
        field:
          element: "hidden"
          value: true
