---
layout: default
title: Plays
layout_body_class: header-nobr breadcrumb-no-bottom-margin
class: plays
excerpt: "Browse the archive of shows grouped by play, see what the most popular play is in Nottingham."
current: archives
permalink: /plays/
published: true
---

{% include archive_breadcrumbs.html %}

{% include archive_plays_banner.html %}

<div class="wrapper">
  <ul id="archive-sort-list" class="playwrights-list">
  {% for item in site.data.shows_by_title %}
    <li
      id="{{ item[0] | anchor }}"
      data-alpha="{{ item[0] }}"
      data-shows={{ item[1].size }}
      class="{% if item[1].size < 3 %}low-shows{% else %}high-shows{% endif %}"
      >
      <div class="playwright-count">{{ item[1].size }}</div>
      <div
        class="{% if item[1][-1].playwright_type == "playwright" %}play-title{% else %}playwright-name{% endif %}">

        {% if item[1][-1].playwright_type == "playwright" %}
        <span class="play-title-inner">{{ item[0] }}</span>
        <span class="play-playwright-inner">
          <a href="/playwrights/#{{ item[1][-1].playwright | anchor }}">
            {{ item[1][-1].playwright_formatted }}
          </a>
        </span>

        {% else %}
        <span class="playwright-name-inner">{{ item[0] }}</span>
        {% endif %}

      </div>
      <ul class="playwright-show-list">
        {% for show in item[1] %}
        <li>
          <a href="{{ show.url }}">
            <div class="playwright-list-poster">
              {% if show.poster %}
              <img src="{{ show.poster.image.poster_thumb }}" alt="{{ show.title }} poster" />
              {% endif %}
            </div>
            <div class="playwright-show-title">{{ show.title }}</div>
            <div class="playwright-show-meta">{{ show.year_page.title }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
