---
layout: default
title: Playwrights
excerpt: "Browse the archive of shows grouped by playwright, find the most popular author in Nottingham."
layout_body_class: header-nobr breadcrumb-no-bottom-margin
class: playwright
current: archives
permalink: /playwrights/
published: true
---

{% include archive_breadcrumbs.html %}

{% include archive_plays_banner.html %}

<div class="wrapper">
  <ul id="archive-sort-list" class="playwrights-list">
  {% for item in site.data.shows_by_playwright %}
    <li
      id="{{ item[0] | anchor }}"
      data-alpha="{{ item[0] }}"
      data-shows={{ item[1].size }}
      class="{% if item[1].size < 3 %}low-shows{% else %}high-shows{% endif %}"
      >
      <div class="playwright-count">{{ item[1].size }}</div>
      <div class="playwright-name">
        <span class="playwright-name-inner">{{ item[0] }}</span>
      </div>
      <ul class="playwright-show-list">
        {% for show in item[1] %}
        <li>
          <a href="{{ show.url }}">
            <div class="playwright-list-poster">
              {% if show.poster %}
              <img src="{{ show.poster.image.poster_thumb }}" alt="{{ show.title }} poster" />
              {% endif %}
            </div>
            <div class="playwright-show-title">{{ show.title }}</div>
            <div class="playwright-show-meta">{{ show.year_page.title }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
