[project]
	description = Historical record of happenings at the Nottingham New Theatre.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Will Pimblett (wjdp)
[access "refs/for/refs/*"]
	read = group user/Will Pimblett (wjdp)
	push = group user/Will Pimblett (wjdp)
	label-Code-Review = -2..+2 group user/Will Pimblett (wjdp)
	label-Verified = -1..+1 group user/Will Pimblett (wjdp)
	rebase = group user/Will Pimblett (wjdp)
	removeReviewer = group user/Will Pimblett (wjdp)
	submit = group user/Will Pimblett (wjdp)
[access "refs/heads/*"]
	read = group user/Will Pimblett (wjdp)
	create = group user/Will Pimblett (wjdp)
	push = +force group user/Will Pimblett (wjdp)
	pushMerge = group user/Will Pimblett (wjdp)
[access "refs/tags/*"]
	push = +force group user/Will Pimblett (wjdp)
	pushTag = group user/Will Pimblett (wjdp)
	pushSignedTag = group user/Will Pimblett (wjdp)
