---
layout: default
title: Search
editable: false
body_class: search
sitemap: false
search_exclude: true
---

<div class="search-form">
  <div class="search-form-title">
    <h1><i class="fa fa-search"></i></h1>
  </div>
  <!-- Search form -->
  <form method="get" action="/search" data-search-form>
  <div class="search-form-text">
    <input class="search-q" type="search" name="q" id="q" placeholder="Enter search term" data-search-input />
  </div>
  </form>
</div>

<div class="search-results">
  <!-- Search results placeholder -->
  <div class="box-warning">
    <i class="fa fa-exclamation-triangle"></i>
    These search results are very much in beta. If you find any bugs, such as pages not showing up you know exist, please report them using the button on the right.
  </div>

  <div data-search-results></div>



  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
    <% if (item.type == "show") { %>
      <div class="search-result">
        <h3 class="search-result-show-title">
          <% if (item.poster_thumb_tag) { %><%= item.poster_thumb_tag %><% } else { %><i class="fa fa-ticket"></i><% } %>
          <a href="<%= item.link %>"><%= item.title %></a>
          <% if (item.playwright) { %><span class="search-result-playwright">by <%= item.playwright %></span><% } %>
          </h3>
        <p class="meta"><%= item.run %><% if (item.venue) { %> at <%= item.venue %><% } %>, <%= item.season %> season</p>
        <p><%= item.excerpt %></p>
      </div>
    <% } else { %>
      <% if (item.group == "about") { %>
        <div class="search-result">
          <h3><i class="octicon octicon-circuit-board"></i> <a href="<%= item.link %>"><%= item.title %></a></h3>
          <p><%= item.excerpt %></p>
        </div>
      <% } else if (item.group == "docs") { %>
        <div class="search-result">
          <h3><i class="fa fa-file-text-o"></i> <a href="<%= item.link %>"><%= item.title %></a></h3>
          <p><%= item.excerpt %></p>
        </div>
      <% } else { %>
        <div class="search-result">
          <h3><i class="fa fa-file"></i> <a href="<%= item.link %>"><%= item.title %></a></h3>
          <p><%= item.excerpt %></p>
        </div>
      <% } %>
    <% } %>
    </div>
  </script>
  <script type="text/x-template" id="search-message-empty">

    <div class="search-results-empty">
      <h2>Nope, nothing here&hellip;</h2>
      <p>Sorry, but we couldn't find anything on this site about "<%= query %>"</p>

    </div>

    <div class="search-results-collect">
      <div class="box-info">
        <i class="ion-help"></i>
        <h4>Should there be something here?</h4>
        <p>We're still a long way off collecting every single show. If you know of one that isn't here please <a href="/collect/show">let us know!</a></p>
      </div>
    </div>

  </script>
</div>
