<div class="breadcrumbs">
  <div class="breadcrumb-inner">
    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">Archives</a>
      </li>
      {% if include.section_title %}
      <li class="breadcrumb breadcrumb-{{ include.section_tag }}">
        <a href="/years/#{{ include.section_tag }}">{{ include.section_title | escape_once }}</a>
      </li>
      {% endif %}
      <li class="breadcrumb breadcrumb-{{ page.class }}">
        <a href="{{ page.url }}">{{ page.title | escape_once }}</a>
      </li>
    </ul>

  </div>
</div>
