<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col">
      <p>{{ site.description }}</p>
    </div>
    <div class="footer-col">
      <h5>Contributing</h5>
      <p>This project needs your help. If you have stuff, we want stuff. See the <a href="/contributing">contributing</a> page for more details.</p>
    </div>
    <div class="footer-col">
      <p>Site last updated at {{site.time | date: "%-d %B %Y %H:%M" }}, build number {% include travis_build_number.txt %}.</p>
      <p>{{shows.size}} shows and {{committees.size}} committees.</p>
      <p>Site <a href="/docs/">Documentation</a></p>
      <p><a href="http://github.com/newtheatre/history-project"><i class="fa fa-github"></i> GitHub Repo</a></p>
    </div>

  </div>

</footer>
