<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col">
      <p>{{ site.description }}</p>
    </div>
    <div class="footer-col">
      <h5>Contributing</h5>
      <p>This project needs your help. If you have stuff, we want stuff. See the <a href="/contributing">contributing</a> page for more details.</p>
    </div>
    <div class="footer-col">
      <h5>About this site</h5>
      <p>This site is an initiative of the New Theatre Alumni Network.</p>
      <p><a href="/about/">About</a> | <a href="/docs/">Docs</a></p>
    </div>

  </div>

</footer>
