<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-contribute">
      <p>This project relies on help from the alumni community. See <a href="/contributing/">contributing</a> page for more details.<br />
      {% unless page.no_report_links %}Missing or incorrect information on this page? <a href="https://github.com/newtheatre/history-project/issues/new?body={{page.url}}" data-proofer-ignore data-report-this-page>Send the editors a message</a>.{% endunless %}</p>
    </div>
    <div class="footer-social">
      <div class="twitter">
        <a href="https://twitter.com/{{ site.twitter }}">
          <i class="ion-social-twitter"></i>
          @{{ site.twitter }}
        </a>
      </div>
      <div class="email">
        <a href="mailto:{{ site.email }}">
          <i class="ion-ios-email"></i>
          {{ site.email }}
        </a>
      </div>
      <div class="web">
        <a href="http://newtheatre.org.uk">
          <i class="ion-link"></i>
          newtheatre.org.uk
        </a>
      </div>
    </div>
  </div>

{% include fancy/year_graph.html %}

</footer>
