<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title and page.body_class != 'home' %}{{ page.title | escape_once }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 156 | escape_once }}{% else %}{{ site.description }}{% endif %}">

  <!-- CDN Provided Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600|Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Local Styles -->
  <link rel="stylesheet" href="{% static /css/main.css %}" data-turbolinks-track="reload">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>

  <!-- humans.txt -->
  <link rel="author" href="/humans.txt" />

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static /images/favicon.png %}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static /images/browser/apple-touch-icon-57x57.png %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static /images/browser/apple-touch-icon-60x60.png %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static /images/browser/apple-touch-icon-72x72.png %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static /images/browser/apple-touch-icon-76x76.png %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static /images/browser/apple-touch-icon-114x114.png %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static /images/browser/apple-touch-icon-120x120.png %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static /images/browser/apple-touch-icon-144x144.png %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static /images/browser/apple-touch-icon-152x152.png %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static /images/browser/apple-touch-icon-180x180.png %}">
  <link rel="icon" type="image/png" href="{% static /images/browser/favicon-32x32.png %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static /images/browser/android-chrome-192x192.png %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static /images/browser/favicon-96x96.png %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static /images/browser/favicon-16x16.png %}" sizes="16x16">
  <link rel="manifest" href="{% static /manifest.json %}">
  <link rel="mask-icon" href="{% static /images/browser/safari-pinned-tab.svg %}" color="{{ site.color_nnt_purple }}">
  <meta name="apple-mobile-web-app-title" content="History Project">
  <meta name="application-name" content="History Project">
  <meta name="msapplication-TileColor" content="{{ site.color_nnt_purple }}">
  <meta name="msapplication-TileImage" content="{% static /images/browser/mstile-144x144.png %}">
  <meta name="msapplication-navbutton-color" content="{{ site.color_nnt_purple }}">
  <meta name="theme-color" content="{{ site.color_nnt_purple }}">

  <!-- Opengraph -->
  {% unless site.skip_opengraph %}{% include opengraph.html %}{% endunless %}

  <!-- Scripts -->
  <script defer type="text/javascript" src="{% static /js/lib.js %}" data-turbolinks-track="reload"></script>
  <script defer type="text/javascript" src="/js/raven.js"></script>
  <script defer type="text/javascript" src="/js/focus-ring.js"></script>
  <script defer type="text/javascript" src="{% static /js/app.js %}" data-turbolinks-track="reload"></script>

  <!-- Privacy Friendly Analytics -->
  <script async defer data-domain="history.newtheatre.org.uk" src="https://plausible.io/js/plausible.js"></script>

  {% for head_extra_line in layout.head_extra %}
    {{ head_extra_line }}
  {% endfor %}
</head>
