<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/images/logo.png" alt="Logo" class="site-title-logo" />
      <h2 class="site-title-text">
        <div class="logo-line-tnnt">The Nottingham New Theatre</div>
        <div class="logo-line-hp">History Project</div>
      </h2>
    </a>

    <nav class="site-nav">
      {% for node in site.data.header %}
        <a class="page-link{% if node.slug == page.current %} current{% endif %}" href="{{ node.href | prepend: site.baseurl }}">
          {% if node.icon %}<i class="{{ node.icon }}"></i> {% endif %}
          <span class="page-link-text">{{ node.section }}</span>
        </a>
      {% endfor %}
    </nav>
    <div class="site-search">
      {% if page.url != "/search/" %}
      <form method="get" action="/search" data-search-form>
        <label for="q" class="access-hidden">Search</label>
        <input type="search" name="q" id="q" placeholder="Search" data-search-input class="site-search-input" />
        <input type="submit" value="Search" class="site-search-submit" />
      </form>
      {% endif %}
    </div>
  </div>
</header>
