<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/images/logo.png" alt="Logo" class="site-title-logo" />
      <h2 class="site-title-text">New Theatre<br />History Project</h2>
    </a>

    <nav class="site-nav">
      {% assign top_pages = site.pages | where: "group", "top" | sort: "sort" %}
      {% for node in top_pages %}
        {% if node.title %}
        {% if node.icon %}<i class="{{ node.icon }}"></i> {% endif %}
        <a class="page-link{% if node.url == page.url %} current{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
      <i class="octicon octicon-circuit-board"></i>
      <a class="page-link{% if page.url == "/about/" %} current{% endif %}" href="/about/">About</a>
    </nav>
    <div class="site-search">
      {% if page.url != "/search/" %}
      <form method="get" action="/search" data-search-form>
        <input type="search" name="q" id="q" placeholder="Search" data-search-input class="site-search-input" />
        <input type="submit" value="Search" class="site-search-submit" />
      </form>
      {% endif %}
    </div>
  </div>
</header>
