<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      {% assign top_pages = site.pages | where:  'group', 'top' %}
      {% for page in top_pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="site-search">
      <form method="get" action="/search" data-search-form>
        <input type="search" name="q" id="q" placeholder="Search" data-search-input class="site-search-input" />
        <input type="submit" value="Search" class="site-search-submit" />
      </form>
    </div>
  </div>
</header>
