<script defer type="text/javascript" src="/js/lib.js?cachebust={{ site.time | date: "%Y%m%d%H%M"}}"></script>
<script defer type="text/javascript" src="/js/raven.js?cachebust={{ site.time | date: "%Y%m%d%H%M"}}"></script>
<script defer type="text/javascript" src="/js/app.js?cachebust={{ site.time | date: "%Y%m%d%H%M"}}"></script>

{{ page.js }}

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-724643-18', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<div id="nthpMobileDetect"></div>