<script defer type="text/javascript" src="{% static /js/lib.js %}"></script>
<script defer type="text/javascript" src="/js/raven.js"></script>
<script defer type="text/javascript" src="{% static /js/app.js %}"></script>

{{ page.js }}

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-724643-18', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<div id="nthpMobileDetect"></div>
