<dl class="link-list">
{% for link in include.links %}

  <dt class="single-line link--{{ link.type | downcase }}">
  	{% if link.icon %}
		<i class="fa fa-fw {{ link.icon }}"></i>
	{% endif %}

	{% if link.stars %}
		<span class="stars" title="{{ link.rating }} → {{ link.stars }}">
			{% for star in (1..link.stars) %}
				<i class="fa fa-star {% increment star %}"></i>
			{% endfor %}
			{% assign stars_rounded = link.stars | round %}
			{% if stars_rounded != link.stars %}
				<i class="fa fa-star-half-o"></i>
			{% endif %}
			{% for nostar in (stars_rounded..4.9) %}
				<i class="fa fa-star-o {% increment nostar %}"></i>
			{% endfor %}
		</span>
	{% endif %}

	{% if link.quote %}
		<q class="quote">{{ link.quote }}</q>
	{% endif %}

	{% if link.publisher %}
		<cite class="publisher">
			<a href="{{ link.href }}">{{ link.publisher }}</a>
		</cite>
	{% else %}
  		<a href="{{ link.href }}" {{ link.data }}>{{ link.title }}</a>
  	{% endif %}

	<span class="debug debug-hidden-content" data-debug-toggle>
		{{ link.comment }}
	</span>
  </dt>

  <dd class="hidden">{{ link.href }}</dd>

{% endfor %}
</dl>
