{% capture unknowns %}
{% for person in people %}
{% if person.role == "unknown" %}
X
{% elsif person.name == "unknown" %}
X
{% endif %}
{% endfor %}
{% endcapture %}

{% if unknowns contains "X" %}
{% include boxes/person_list_unknowns.html %}
{% endif %}

<ul class="person-list">
{% for person in people %}
  <li class="person-single">

    {% if person.person != false and person.name != "" and person.name != "unknown" %}
      <a href="{% person_url {{ person.name }}%}">
      {% assign linked_single = true %}
    {% else %}
      {% assign linked_single = false %}
    {% endif %}

    <div class="person-role">
      {% if person.role == "unknown" %}
        <span class="unknown">Unknown</span>
      {% else %}
        {% for role in site.data.role-icons %}{% if person.role == role.role %}<i class="{{ role.icon }}"></i>{% endif %}{% endfor %}
        {{ person.role }} {% if person.note %}({{ person.note }}){% endif %}
      {% endif %}
    </div>
    <div class="person-name">
      {% if person.name == "unknown" %}
        <span class="unknown">Unknown</span>
      {% else %}
        {{ person.name }}
      {% endif %}
    </div>

    {% if linked_single %}</a>{% endif %}

  </li>
{% endfor %}

  <li class="person-add">
    <a href="https://github.com/newtheatre/history-project/issues/new?body={{page.url}}" data-proofer-ignore data-report-this-page>Someone missing? Message the editors&hellip;</a>
  </li>

</ul>
