<ul class="show-assets-list">
{% for review in include.reviews %} 
	{% if review.type == "Review" %} 
		<li> 
			{% if review.rating %} 
				{% assign score = review.rating | split: "/" %} 
				{% assign score_top = score[0] | times:1.0 %}
				{% assign score_bottom = score[1] | times: 1.0 %} 
				{% assign score_rating = score_top | divided_by:score_bottom %} 
				{% assign score_scaled = score_rating | times:5 %} 
			{% endif %}

			{% if review.stars %} 
				{% assign score_scaled = review.stars %}
			{% endif %}

			<!-- Produce stars -->
			{% for star in (1..score_scaled) %} 
				<i class="fa fa-star {% increment star %}"></i> 
			{% endfor %}
			{% assign score_rounded = score_scaled | round %}
			{% if score_rounded != score_scaled %}
				<i class="fa fa-star-half-o"></i> 
			{% endif %}
			{% for nostar in (score_rounded..4.9) %}
				<i class="fa fa-star-o {% increment nostar %}"></i> 
			{% endfor %}
				
			<strong>{{ review.publisher }}</strong> - <em>"{{ review.quote }}" - <a href="{{ review.href }}">Full Review</a></em><a href="{{ review.href }}" target="_blank"><i class="fa fa-external-link"></i></a></li>
	{% endif %}
{% endfor %}
</ul>
