{% unless page.start_year == site.year_end %}
  {% if page.shows == nil %}

    {% include boxes/shows_missing_all.html %}
    <div class="big-icon">
      <i class="ion-sad-outline"></i>
    </div>

  {% elsif page.shows.size < site.year_low_shows %}

    {% include boxes/shows_missing_some.html %}

  {% endif %}
{% endunless %}

{% if page.shows %}

  {% for period in site.data.periods %}
    {% assign show_list_shows = page.shows | where: "period", period.period %}
    {% if show_list_shows.size > 0 %}
      <h3 title="{{ period.description }}">{{ period.title }}</h3>
      {% include show_list.html %}
    {% endif %}
  {% endfor %}

  {% assign others = page.shows | where: "period", "unknown" %}
  {% if others.size > 0 %}
    {% assign show_list_shows = others %}
    <h3>Unknown</h3>

    <div class="box-debug" data-debug-toggle>
      <i class="fa fa-exclamation-triangle"></i>
      <p>The following shows are not assigned to a season period, they require a <code>period</code> attribute.</p>
    </div>

    {% include show_list.html %}
  {% endif %}

  <p class="micro">
    <a href="/collect/show/" class="subtle">Shows missing? Tell us about them&hellip;</a>
  </p>

{% endif %}
