---
layout: collect
group: collect
current: people
title: Submit an alumni bio
excerpt: "We're collecting alumni biographies for all graduates. Please fill out this short form for processing by an editor."
header_icon: ion-ios-person
permalink: /collect/person/
---

<section class="collect-form" role="form">
  <form name="collect-person-form" id="collect-person-form" action="{{ site.ntbot_endpoint }}" method="POST">

    <div class="collect-row">
      <div class="collect-label">
        <h3>Your Details</h3>
        <p>Name and year of graduation. We may contact you using your alumni membership contact details.</p>
        <p>If you have not yet registered for the Alumni Network <a href="http://newtheatre.org.uk/alumni/registration/" target="_blank">please do so here</a>.</p>
      </div>
      <div class="collect-field collect-flex-row">
        <input class="collect-text collect-field-name" type="text" name="name" required placeholder="Joe Bloggs" />
        <input class="collect-text collect-field-graduation" type="text" name="graduation" required placeholder="1995" />
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-label">
        <h3>Your course</h3>
        <p>What course or courses did you study at Nottingham? If you studied multiple courses, please separate them with a comma.</p>
      </div>
      <div class="collect-field">
        <input class="collect-text collect-field-course" type="text" name="course" required placeholder="English with Creative Writing BA" />
      </div>
    </div>

    <div class="collect-row" id="collect-shows">
      <div class="collect-label">
        <h3>Shows</h3>
        <p>
          What shows were you involved with? What was your role? What were the dates of the show?
          <span class="collect-hidden" data-have-details-show>Details we have already are shown on the right</span>
        </p>
      </div>
      <div class="collect-field collect-flex-row">
        <textarea class="collect-textarea" name="shows" placeholder="Benvolio - Romeo And Juliet, 4-8 October 1999"></textarea>
        <ul class="collect-person-data collect-hidden" data-have-details-show data-have-details-style>
          <li data-have-details-shows-hide>No shows found</li>
        </ul>
      </div>
    </div>

    <div class="collect-row" id="collect-committees">
      <div class="collect-label">
        <h3>Committee Positions</h3>
        <p>
          Did you hold any committee positions? What years did you spend on committee?
          <span class="collect-hidden" data-have-details-show>Details we have already are shown on the right</span>
        </p>
      </div>
      <div class="collect-field collect-flex-row">
        <textarea class="collect-textarea" name="committees" placeholder="Workshop Manager - 2000-2001
President - 2001-2002"></textarea>
        <ul class="collect-person-data collect-hidden" data-have-details-show data-have-details-style>
          <li data-have-details-committees-hide>No committee roles found</li>
        </ul>
      </div>
    </div>

    <div class="collect-row collect-row-continue">
      <div class="collect-label">
        <h3>Your time at the theatre</h3>
        <p>Pick a few fond memories or stories of your involvement with the theatre.</p>
        <p class="aside">Around 80 words per story would be ideal, but any stories are welcome.</p>
      </div>
      <div class="collect-field">
        <textarea class="collect-textarea collect-field-bio1" name="bio1" placeholder="Once, Joe Bloggs decided it would be fun to crawl from the tech box to the stage"></textarea>
      </div>
    </div>

    <div class="collect-row collect-row-continue">
      <div class="collect-label">
        <h3>After graduating</h3>
        <p>Let us know a little about what you've been up to since graduating.</p>
        <p class="aside">Around 40 words would be ideal.</p>
      </div>
      <div class="collect-field ">
        <textarea class="collect-textarea collect-field-bio2" name="bio2" placeholder="Further studies, drama school, careers, achivements."></textarea>
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-label">
        <p>Have you gone into theatre since graduating? Please tick significant areas you've worked in.</p>
        <p>If you've gone down another career path enter titles in the box below.</p>
      </div>
      <div class="collect-field collect-field-no-drop">
        <ul class="collect-checkboxes">
        {% for career in site.data.careers %}
          <li>
            <label>
              <input type="checkbox" name="{{ career.career }}" class="career-choice" />
              {{ career.career }}
            </label>
          </li>
        {% endfor %}
        </ul>
        <input type="text" class="collect-text career-other" name="career-other" placeholder="Anything not listed above" />
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-label">
        <h3>Awards</h3>
        <p>Did you or a show you were involved with gain awards from the theatre or external bodies?</p>
      </div>
      <div class="collect-field">
        <textarea class="collect-textarea" name="awards" placeholder="The Pride, won flashiest bulbs award. Was invited to be part of NSDF technical team."></textarea>
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-label">
        <h3>Links</h3>
        <p>Please include links to personal websites, Twitter / LinkedIn accounts, Spotlight or other profiles <i>e.t.c.</i></p>
      </div>
      <div class="collect-field">
        <textarea class="collect-textarea" name="links" placeholder="Twitter, @JoeBloggs."></textarea>
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-label">
        <h3>Contact preferences</h3>
        <p>We would like to allow current students and recent graduates to get in contact with alumni in the industry. All contact would be handled through the network co-ordinators, your details will not be made public.</p>
      </div>
      <div class="collect-field">
        <ul class="collect-checkboxes">
          <li class="collect-checkboxes-full-width">
            <label class="child-checked">
              <input type="checkbox" name="contact_allowed" checked />
              I'm happy to be contacted by current students and recent graduates via the Alumni Network
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="collect-row">
      <div class="collect-message">
        <p>That's it! Pressing submit will send all the details off to the editorial team.</p>
      </div>
      <div class="collect-controls">
        <button class="collect-submit" type="submit">Submit</button>
      </div>
    </div>

  </form>
</section>

<script type="text/x-template" id="collect-template-list">
<li>
  <span class="item-title"><%= item.title %></span><br />
  <span class="item-roles"><% _.each(item.roles, function(role){ %><%= role %><br /><% }) %></span>
</li>
</script>

