// /years Archive section

// Lists

@mixin archive-section-background($color)
  background: $color
  @include text-shadow-effect(darken($color, 20%))


.archive-section
  h3
    @include archive-section-background($color-success)
    margin-bottom: $baseline / 2
    padding: $baseline

.archive-section-content
  padding-left: $baseline / 2
  padding-right: $baseline / 2

.archive-list
  @include columns(2 12px)
  @include list-unformatted
  li
    margin-bottom: 2px
    position: relative
  .empty a
    color: $color-grey-dark
  .minor a
    color: $color-grey

  a
    @include respond-down(tab-port)
      display: block
      padding: $baseline / 4
      background: lighten($color-background, 3%)

.decade-list
  li
    text-align: center

.season-list

.archive-list-counts
  // Debug feature
  @include debug-box
  position: absolute
  right: 0
  top: 2px

// Colour generator for decade, overrides some stuff in _breadcrumbs.sass
$background-base: adjust-hue($color-decades-base, 220%)
$background-items: -3

@for $i from 194 through 201
  $shift: (100% / $background-items) * (201-$i)
  $shift-color: adjust-hue($background-base, $shift)

  .decade-#{$i} h3
    @include archive-section-background($shift-color)

  // HACK, cos the thing we need to override is quite specifific
  .breadcrumb-#{$i} a
    background: $shift-color !important
  .breadcrumb-#{$i} a:after
    border-left-color: $shift-color !important

  $hover-color: lighten($shift-color, 5%)
  .breadcrumb-#{$i} a:hover
    background: $hover-color !important
  .breadcrumb-#{$i} a:hover:after
    border-left-color: $hover-color !important

  $child-color: darken($shift-color, 8%)
  .breadcrumb-#{$i}-child a
    background: $child-color !important
  .breadcrumb-#{$i}-child a:after
    border-left-color: $child-color !important

  $child-hover-color: lighten($child-color, 5%)
  .breadcrumb-#{$i}-child a:hover
    background: $child-hover-color !important
  .breadcrumb-#{$i}-child a:hover:after
    border-left-color: $child-hover-color !important

// Specifics for /years page

.archives
  .decades, .others
    // Row element
    @include display(flex)
    @include flex-wrap(wrap)

    @include respond-down(mob-land)
      @include flex-direction(column)

  .archive-section
    // Row item
    @include flex-basis(25%)
    @include block

    @include set-property-to-gutter(padding-right)

  .decade
    @include flex-basis(50%)
    @include respond-up(tab-land)
      @include flex-basis(25%)

  .venues
    // Wider row item
    @include flex-basis(50%)
