$color-debug: #4FFF1F

@mixin debug-box
  display: none
  font-family: monospace
  font-size: 11.5px
  font-weight: bold
  background: #000
  color: $color-debug
  padding: 1px 3px
  z-index: 9000

.debug
  display: none

.debug-build-details
  @include debug-box
  position: fixed
  top: 2px
  left: 2px

.debug-badges
  @include debug-box
  position: fixed
  top: 2px + 14px + 2px + 2px
  left: 2px
  padding: 3px 3px 0px 3px

.debug-mode
  @include debug-box
  position: fixed
  top: 2px
  right: 2px

.debug-abs-top-left
  @include debug-box
  position: absolute
  top: 2px
  left: 2px

.debug-abs-top-right
  @include debug-box
  position: absolute
  top: 2px
  right: 2px

.debug-abs-bottom-left
  @include debug-box
  position: absolute
  bottom: 2px
  left: 2px

.debug-abs-bottom-right
  @include debug-box
  position: absolute
  bottom: 2px
  right: 2px

.debug-container
  position: relative
