// Footer

.site-footer
  color: $color-text-white
  background: $color-text-black
  padding: $baseline 0


  &, p
    font-size: $base-font-size * 0.9

  .wrapper
    @include grid-wrap
    @include grid-row
    padding-bottom: 0

  .twitter, .email
    background: rgba(#55acee, 0.7)
    margin-bottom: $baseline / 2

    a
      display: block
      padding: $baseline/4 $baseline/2
      color: $color-text-white


  .email
    background: rgba(#ed0040, 0.7)

.footer-contribute
  @include grid-x-percent(68%)

.footer-social
  @include grid-x-percent(100%-68%)
