.site-header
  padding: $baseline*2 0 $baseline 0
  margin-bottom: $baseline * 2
  background: $color-background-alt
  .wrapper
    @include grid-wrap
    @include grid-row
  &, a
    color: $color-text-white

$nav-height: 63px

.site-title, .site-nav, .site-search
  @include respond-up(tab-port)
    height: $nav-height

.site-title
  display: block
  @include grid-x-col(5)
  text-decoration: none
  @include respond-down(mob-land)
    width: 270px
    margin: 0 auto
.site-title-logo
  float: left
.site-title-text
  $title-text-size: 26px
  $title-text-baseline: 1.2
  padding-top: 2px
  padding-left: 80px
  font-size: $title-text-size
  line-height: $title-text-size * $title-text-baseline
  @include text-shadow-effect($color-background-alt)
  @include respond-down(tab-port)
    font-size: $title-text-size * 0.6
    line-height: $title-text-size * $title-text-baseline
  @include respond-down(mob-port)
    font-size: $title-text-size * 0.9

.site-nav
  @include grid-x-col(8)
  text-align: center
  line-height: $nav-height
  .page-link
    text-decoration: none
    padding-bottom: 3px
    &:hover
      border-bottom: 2px solid $color-text-white
    &.current
      border-bottom: 2px solid $color-nnt-purple
    @include respond-up(tab-port)
      @include all-but-last(margin-right, 24px)
    @include respond-down(mob-land)
      display: block

.site-search
  @include grid-x-col(3)
  text-align: right
  line-height: $nav-height

.site-search-input
  padding: 6px
  background: $color-background
  border: 1px solid $color-nnt-purple
  color: $color-text-white
  width: 100%
  padding-left: 32px

  background: url('/images/search-18.png') no-repeat
  background-position: 6px

  @include placeholder
    color: $color-grey

.site-search-submit
  display: none


