*, *:before, *:after
  margin: 0
  padding: 0
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  overflow-y: scroll

html

body
  height: 100%

body
  background: $color-background

.content
  min-height: 600px

.lotsa-cols
  // Quick and dirty cleanup for long lists
  -webkit-column-count: 6
  -webkit-column-gap: 20px
