// People pages (alumni bios)

.person
  @include grid-wrap

.person-info
  @include grid-x-col(11)

.person-photo
  @include grid-x-col(5)
  img
    width: 100%

.person-shows-outer
  @include grid-wrap
  margin-bottom: $baseline * 2
  @include set-property-to-gutter(padding-top)
  background: $color-black

.person-shows
  @include grid-row
  padding-bottom: 0
  @include set-property-to-gutter(margin-top)
  @include set-property-to-gutter(margin-bottom)

  @include display(flex)
  @include flex-direction(horizontal)
  @include flex-wrap(wrap)

  .person-show
    @include set-property-to-gutter(margin-bottom)
    @include set-property-to-gutter(padding-right)
    @include flex-basis(180px)
    max-width: 190px
    @include flex-grow(1)
    @include flex-shrink(1)

    .person-show-poster
      height: 231px
      margin-bottom: 4px
      overflow: hidden
      background: #0D0D0D
      a
        // Make whole element a block
        display: block
        height: 100%

        @include no-underline
        @include block-focus

      img
        width: 100%

  .person-show-title
    font-size: $base-font-size * 1.2
    margin-bottom: 0

  .person-show-meta
    // font-size: $base-font-size * 0.7
    color: $color-grey
    // About the same as line-height baseline but slightly nicer alignment
    margin-bottom: 3px

  .person-show-season
    // Little circle coloured thing
    @include show-season-circle

  .person-show-year

  .person-show-roles
    @include list-unformatted

    li
      line-height: 1.5em
      font-size: $base-font-size * 0.82
      line-height: 1.5em
      color: $color-grey-dark
      text-transform: uppercase

