.person-list
  @include list-unformatted
  .person-single
    margin-bottom: $baseline / 2
    padding-bottom: $baseline / 2
    border-bottom: 1px solid $color-grey

    position: relative
    i
      position: absolute
      top: 1px
      right: 0
      color: $color-grey
      font-size: $base-font-size * 2.3
      opacity: 0.7

      // Fixed width icons, #102
      width: 1.2em
      text-align: center

      // Fix weird alignment
      &.ion-paintbucket
        top: -5px

  .person-role
    font-weight: 100

  .person-name
    a
      color: $color-text-white
