// Person list element

.person-list
  @include list-unformatted
  .person-single
    margin-bottom: $baseline / 2
    padding-bottom: $baseline / 2
    border-bottom: 1px solid $color-grey

    position: relative
    i
      position: absolute
      top: 1px
      right: 0
      color: $color-grey
      font-size: $base-font-size * 2.3
      opacity: 0.7

      // Fixed width icons, #102
      width: 1.2em
      text-align: center

      // Fix weird alignment
      &.ion-paintbucket
        top: -5px

  $person-role-weight: 100
  .person-role
    font-weight: $person-role-weight

  a
    color: $color-text-white
    .person-role
      font-weight: $person-role-weight
    .person-name

  a:hover
    text-decoration: none
    .person-name
      text-decoration: underline

  .person-add

    a
      opacity: 0.2
      font-size: $base-font-size * 0.7

      color: $color-text-white

      &:hover
        opacity: 1
        text-decoration: underline
        color: $color-link
