body.search
  .site-header
    margin-bottom: 0

.search-form
  background: $color-grey-dark
  @include grid-wrap
  @include block
  padding-top: $baseline
  padding-bottom: $baseline
  .search-form-title
    @include grid-x-col(6)

  .search-form-text, .search-form-actions
    padding-top: $baseline / 2
    input, .button
      font-size: $base-font-size * 1.2
      padding: $baseline / 4
      line-height: $baseline
      width: 100%

  .search-form-text
    @include grid-x-col(7)
  .search-form-actions
    @include grid-x-col(3)

  .search-q
    background: none
    color: $color-text-white
    border: 2px $color-text-white solid
    border-radius: 2px

.search-results
  @include grid-wrap

.search-result
  @include block
  margin-bottom: $baseline * 2
  clear: both
  .search-result-poster-thumb
    float: left
    padding-right: 14px
    margin-bottom: $baseline
  .search-result-show-title
    margin-bottom: $baseline / 5
  .meta
    font-size: $base-font-size * 0.8
    font-style: italic
  .search-result-playwright
    font-weight: 200
