// Colours for season periods

$color-in-house: lighten($color-background, 10%)
$color-fringe: darken($color-nnt-orange, 10%)
$color-edinburgh: #3CD861
$color-lakeside: #4AAEDB
$color-stuff: #E20013
$color-fundraiser: darken(#E296D1, 30%)
$color-iudf: #242F4A
$color-unscripted: #008C50 

@mixin show-season-circle
  &:before
    @extend .ion
    color: darken($color-grey, 4%)
    content: "\f21b"
    padding-left: 1px
    padding-right: 4px
    font-size: 0.95em
  &:before:hover
    // Prevent anchor underline leak
    text-decoration: none !important

.season-icon
  @include show-season-circle
  &:before
    padding-right: 6px

// Circles in show_list.html
.show-list-season, .person-show-season, .season-icon
  &.season-in-house:before
    color: $color-in-house !important
  &.season-fringe:before, &.season-uncut:before
    color: $color-fringe !important
  &.season-edinburgh:before, &.season-previews:before
    color: $color-edinburgh !important
  &.season-lakeside:before
    color: $color-lakeside !important
  &.season-stuff:before
    color: $color-stuff !important
  &.season-fundraiser:before
    color: $color-fundraiser !important
  &.season-iudf:before
    color: $color-iudf !important
  &.season-unscripted:before
    color: $color-unscripted !important

// Background of season meta-col col
.show-season
  $opacity-jigging: 0.8
  .season-in-house
    background: rgba($color-in-house, $opacity-jigging)
  .season-fringe, .season-uncut
    background: rgba($color-fringe, $opacity-jigging)
  .season-edinburgh, .season-previews
    background: rgba($color-edinburgh, $opacity-jigging)
  .season-lakeside
    background: rgba($color-lakeside, $opacity-jigging)
  .season-stuff
    background: rgba($color-stuff, $opacity-jigging)
  .season-fundraiser
    background: rgba($color-fundraiser, $opacity-jigging)
  .season-iudf
    background: rgba($color-iudf, $opacity-jigging)
  .season-unscripted
    background: rgba($color-unscripted, $opacity-jigging)

// Breadcrumbs
@include breadcrumb-color("in-house", $color-in-house)
@include breadcrumb-color("fringe", darken($color-fringe, 20%))
@include breadcrumb-color("uncut", darken($color-fringe, 20%))
@include breadcrumb-color("edinburgh", darken($color-edinburgh, 30%))
@include breadcrumb-color("previews", darken($color-edinburgh, 30%))
@include breadcrumb-color("lakeside", darken($color-lakeside, 10%))
@include breadcrumb-color("stuff", $color-stuff)
@include breadcrumb-color("fundraiser", $color-fundraiser)
@include breadcrumb-color("iudf", $color-iudf)
@include breadcrumb-color("unscripted", $color-unscripted)

// Season pages
@include breadcrumb-color("seasons", $color-seasons)
