.show
  @include grid-wrap
  margin-bottom: $baseline * 2

.show-header
  @include grid-x-col(10)

.show-playwright, .show-season, .show-date, .show-venue
  @include grid-x-col(4)
  // border-bottom: 1px solid $color-grey
  font-size: $base-font-size * 1.2

.show-poster
  @include grid-x-col(6)
  float: right !important // HACK
  img
    width: 100%

.show-synopsys
  @include grid-x-col(10)

.show-cast, .show-crew
  @include grid-x-col(8)

.show-media
  img
    width: 25%
