// Show pages

.show
  margin-bottom: $baseline * 2

.show-wrap
  @include grid-wrap

.show-row
  @include grid-row

.show-info
  @include grid-x-col(10)

.show-header
  @include grid-row


.show-poster
  @include grid-x-col(6)
  float: right !important // HACK
  img
    width: 100%
    padding-right: 0 // Remove

  @include respond-down($grid-column-end)
    // Hide on single col
    display: none

.show-synopsys
  @include block

.show-photos-outer, .show-assets-outer
  @include grid-wrap
  margin-bottom: $baseline * 2
  @include set-property-to-gutter(padding-top)
  background: $color-black

// .show-photos-outer

.show-photos
  @include grid-row
  padding-bottom: 0
  @include set-property-to-gutter(margin-top)
  @include set-property-to-gutter(margin-bottom)
  .show-photo-single
    @include grid-x-col(4)

    @include set-property-to-gutter(margin-bottom)

    // Crop all photos to prevent horrible overflows
    height: 180px
    overflow: hidden

    img
      width: 100%
      box-shadow: 0px -1px darken($color-black, 20%)

.show-assets-list
  @include list-unformatted
  @include grid-row
  .show-asset-file, .show-asset-image
    @include grid-x-col(4)
  .show-asset-file
    background: darken($color-nnt-purple, 20%)
    position: relative
    i
      position: absolute
      font-size: 91px
      top: -18px
      right: 10px
      opacity: 0.2
      pointer-events: none // Ensure clicks go though to the anchor
    a
      display: block
      text-decoration: none
      color: $color-text-white
      padding: 161px 10px 10px 10px


  .show-asset-image
    img
      width: 100%

.show-cast, .show-crew
  @include grid-x-col(8)
