---
layout: default
title: Archives
excerpt: Index of the archives of the Nottingham New Theatre year-by-year or by venue, season, play or playwright.
group: top
editable: false
body_class: header-nobr
current: archives
permalink: /years/
---
<div class="breadcrumbs">
  <div class="breadcrumb-inner">

    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">Archives</a>
      </li>
    </ul>

  </div>
</div>

<div class="page archives">
  <div class="decades">
    <div class="archive-section decade decade-202">
      <h3>2020s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.202 %}
      </div>
    </div>
    <div class="archive-section decade decade-201">
      <h3>2010s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.201 %}
      </div>
    </div>
    <div class="archive-section decade decade-200">
      <h3>2000s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.200 %}
      </div>
    </div>
    <div class="archive-section decade decade-199">
      <h3>1990s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.199 %}
      </div>
    </div>
    <div class="archive-section decade decade-198">
      <h3>1980s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.198 %}
      </div>
    </div>
    <div class="archive-section decade decade-197">
      <h3>1970s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.197 %}
      </div>
    </div>
    <div class="archive-section decade decade-196">
      <h3>1960s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.196 %}
      </div>
    </div>
    <div class="archive-section decade decade-195">
      <h3>1950s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.195 %}
      </div>
    </div>
    <div class="archive-section decade decade-194">
      <h3>1940s</h3>
      <div class="archive-section-content">
        {% include decade_list.html pages=site.data.years_by_decade_reversed.194 %}
      </div>
    </div>
  </div>

  <div class="others">
    <div class="archive-section venues" id="venues">
      <h3>Venues</h3>
      <div class="archive-section-content venue-listing">
        <div class="venue-listing__city venue-listing__city--nottingham">
          {% include venue-list.html city='Nottingham' %}
        </div>
        <div class="venue-listing__city">
          {% include venue-list.html city='Edinburgh' %}
          {% include venue-list.html city=nil %}
        </div>
      </div>
    </div>
    <div class="archive-section seasons" id="seasons">
      <h3>Seasons</h3>
      <div class="archive-section-content">
        <ul class="season-list archive-list">
          {% for item in site.seasons %}
          <li {% if item.shows.size < 3 %}class="minor"{% endif %}>
            <a href="{{ item.url }}">
              <span class="season-icon season-{{ item.class }}">{{ item.title }}
              </span>
            </a>
            <div class="decade-list-counts archive-list-counts" data-debug-toggle title="Show counts for venue">
              {% if item.shows %}{{ item.show_count }}{% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="archive-section plays" id="plays">
      <h3>Plays</h3>
      <div class="archive-section-content">
        <ul class="play-list archive-list">
          <li><a href="/plays/">Shows by play</a></li>
          <li><a href="/playwrights/">Shows by playwright</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>
