---
layout: default
title: People List
current: people
published: true
sitemap: false
search: false
body_class: header-nobr
---

<div class="banner-header">
  <h1>{{ page.title }}</h1>
  <i class="banner-header-icon fa fa-users"></i>
</div>

<div class="wrapper">
  <ul class="people-grid">
  {% for letter in site.data.people_by_letter %}
  {% unless letter[1].size == 0 %}
    <li>
      <div class="title">
        {{ letter[0] }}
      </div>
      <ul class="people-grid-list">
      {% for person in letter[1] %}
        <li>
          <a href="{{ person.url }}">
            <div class="headshot">
              {% if person.headshot %}
                <img class="person-headshot-actual" src="{{ person.headshot.person_bio }}" alt="{{ person.title }}" />
              {% else %}
                <img class="person-headshot-placeholder" src="/images/human-512-cropped.png" alt="Human silhouette" />
              {% endif %}
            </div>
            <div class="name">{{ person.title }}</div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endunless %}
  {% endfor %}
  </ul>
</div>
