---
layout: default
title: Presidents
current: people
body_class: header-nobr
editable: false
---

<div class="banner-header presidents-header">
  <h1>{{ page.title }}</h1>
  <i class="banner-header-icon fa fa-star"></i>
</div>

{% assign unknowns = '' %}
<div class="page archives">
  <div class="decades">
    <div class="archive-section president-section decade decade-201">
      <h3>2010s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['201'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-200">
      <h3>2000s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['200'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-199">
      <h3>1990s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['199'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-198">
      <h3>1980s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['198'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-197">
      <h3>1970s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['197'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-196">
      <h3>1960s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['196'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-195">
      <h3>1950s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['195'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="archive-section president-section decade decade-194">
      <h3>1940s</h3>
      <div class="archive-section-content">
        <ul class="person-list">
          {%- for year in site.data.years_by_decade_reversed['194'] -%}
            {% include president-list.html year=year %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="president-cta">
    <div class="box-warning">
      <i class="fa fa-exclamation-triangle"></i>
      <p><strong>Missing Presidents</strong><br />
      <p>We're missing {{ unknowns | split: ', ' | size }} presidents, from the following years: {{ unknowns | remove_first: ","}}.&nbsp;{%- include boxes/phrase_if_you_can_help.html -%}</p>
    </div>
  </div>
</div>
