$color-presidents: #CD853F

.presidents-header
  background: $color-presidents

// Uses .people-grid-list from _people.sass

.presidents-list
  @include people-grid-list-scale(1)

.name-unknown
	margin-top: auto
	margin-bottom: auto