---
layout: default
body_class: layout-about
---
<div class="docs">
  <nav class="docs-nav">
    <div class="docs-nav-tabs">
      <div class="docs-nav-tab current">
        <a href='/about/'>About</a>
      </div>
      <div class="docs-nav-tab">
        <a href='/docs/'>Docs</a>
      </div>
    </div>
    <div class="docs-nav-inner">
      <ul>
      {% assign docs_pages = site.content | where:"group", "about" | sort: "sort" %}
      {% for node in docs_pages %}
        <li><a href="{{ node.url }}">{{ node.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </nav>
  <article class="docs-content">
    {{ content }}
  </article>

</div>
