<!DOCTYPE html>
<html>
  {% assign shows = site.collections.shows.docs %}
  {% assign committees = site.collections.committees.docs %}
  {% include head.html %}

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>

    <div class="debug-build-details" data-debug-toggle><i class="fa fa-clock-o"></i> {{site.time | date: "%Y-%m-%d %H:%M" }}, build {% include travis_build_number.txt %}</div>
    <div class="debug-mode" data-debug-toggle><i class="fa fa-bug"></i> Site is in editors mode, type editor again to cancel</div>

    {% include header.html %}

    <!-- {% include breadcrumbs.html %} -->

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include report.html %}

    {% include javascript.html %}

  </body>

</html>
