<!DOCTYPE html>
<html>
  {% assign shows = site.collections.shows.docs %}
  {% assign committees = site.collections.committees.docs %}
  {% include head.html %}

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>

    <!-- Debug LHS -->
    <div class="debug-build-details" data-debug-toggle>
      <i class="fa fa-clock-o"></i>
      {{site.time | date: "%Y-%m-%d %H:%M" }}, build {% include travis_build_number.txt %}, section {{ page.current }}
    </div>

    <div class="debug-last-commit" data-debug-toggle>
      <i class="octicon octicon-history"></i>
      {% gitlastcommit %}
    </div>

    <div class="debug-badges" data-debug-toggle>
      <a href="https://travis-ci.org/newtheatre/history-project">
        <img src="https://travis-ci.org/newtheatre/history-project.svg?branch=master" />
      </a>
      <a href="https://gemnasium.com/newtheatre/history-project">
        <img src="https://gemnasium.com/newtheatre/history-project.svg" />
      </a>
    </div>

    <!-- Debug RHS -->
    <div class="debug-mode" data-debug-toggle>
      <i class="fa fa-bug"></i> Site is in editors mode, type editor again to cancel
    </div>

    <div class="debug-links" data-debug-toggle>
      <a href="https://github.com/newtheatre/history-project/">GH Repo</a> | <a href="http://prose.io/#newtheatre/history-project">Prose</a> | <a href="https://github.com/newtheatre/history-project/issues/">Issues</a> | <a href="https://github.com/newtheatre/history-project/issues/new?body={{page.path}}">New Issue</a>
    </div>

    {% include header.html %}

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include report.html %}

    {% include javascript.html %}

  </body>

</html>
