---
layout: default
---
{% assign person = page %}

<div class="person">
  <div class="person-info">
    <header class="person-header">
      <h1>{{ person.title }}</h1>
      <div class="meta-row">
        <i class="meta-icon fa fa-mortar-board"></i>
        <div class="meta-col person-graduated">
          <p>{% if person.graduated %}{{ person.graduated }}{% else %}<span class="unknown">Unknown</span>{% endif %}</p>
        </div>

        <i class="meta-icon fa fa-book"></i>
        <div class="meta-col person-course">
          <p>{% if person.course %}{{ person.course }}{% else %}<span class="unknown">Unknown</span>{% endif %}</p>
        </div>

        {% if person.award %}
        <i class="meta-icon fa fa-trophy"></i>
        <div class="meta-col person-award">
          <p>{{ person.award }}</p>
        </div>
        {% endif %}
      </div>
    </header>
    <article class="person-bio">
      {% if person.placeholder %}

      <p>We are looking to collect biographies on New Theatre alumni, if this is you and you're interested in doing so please <a href="/collect/person/?name={{person.path_name}}">submit a biography</a>.</p>

      {% else %}
      <h2>Bio</h2>
      {{ content }}
      {% endif %}

      <div class="person-committees">
        {% for record in person.committees %}
        {{ record.roles }} - {{ record.item.title }}<br />
        {% endfor %}
      </div>
    </article>
  </div>

  <div class="person-photo">
    {% if person.headshot %}
    {% image person_headshot people/{{ person.headshot }} %}
    {% else %}
    <i class="ion-ios-person"></i>
    {% endif %}
  </div>

</div>

<div class="person-shows-outer">
  <section class="person-shows">
    {% for record in person.shows %}
    <div class="person-show">
      <div class="person-show-poster">
        <a href="{{ record.item.url }}" title="{{ record.item.title }}">
        {% if record.item.poster %}
          {% image show_poster_thumb_sr for_shows/{{ record.item.poster.image }} %}
        {% else %}
          {% image show_poster_thumb_sr missing_poster.png %}
        {% endif %}
        </a>
      </div>

      <h3 class="person-show-title">
        {{ record.item.title }}
        <span class="person-show-year">{{ record.item.year_hyphenated }}</span>
      </h3>

      <ul class="person-show-roles">
      {% for role in record.roles %}
        <li>{{ role }}</li>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </section>
</div>
