---
layout: default
---
{% assign person = page %}
{% capture submit_link %}/collect/person/?name={{person.path_name}}{% endcapture %}

<div class="person">

  {% if person.comment %}
  <div class="debug-comment wrapper" data-debug-toggle>{{ person.comment }}</div>
  {% endif %}

  <!-- Full width -->
  <header class="person-header">
    <div class="person-headshot">
      {% if person.headshot %}
        <img src="{{ person.headshot.person_bio }}" alt="{{ person.title }}" class="person-headshot-actual" />
      {% else %}
        <img class="person-headshot-placeholder" src="/images/human-512-cropped.png" alt="Human silhouette" />
      {% endif %}
    </div>

    <div class="person-details">
      <h1 class="person-name">{{ person.title }}</h1>
    </div>

    <div class="person-graduated">
      {% if person.graduated_actual %}
      <div class="person-graduated-inner person-graduated-actual decade-background-{{ person.decade }}">
        {{ person.graduated }}
      </div>
      {% elsif person.graduated %}
      <div class="person-graduated-inner person-graduated-estimated decade-background-{{ person.decade }}" title="Estimated">
        {{ person.graduated }}
      </div>
      <div class="person-graduated-estimated-text">Estimated</div>
      {% else %}
        <div class="person-graduated-inner person-graduated-student">
          Student
        </div>
      {% endif %}
    </div>
  </header>


  <div class="person-body">

    {% if person.submitted %}
    <!-- Person has submitted a bio -->
    <article class="person-bio">
      <h2>Biography</h2>
      {{ content }}
      <p class="person-bio-last-updated">
        Bio last updated on {{ person.submitted }}, <a href="{{ submit_link }}">submit updates</a>.
      </p>
    </article>

    {% else %}
    <!-- Person not submitted -->
    <div class="person-submit">
      <div class="box-warning">
        <i class="fa fa-question"></i>
        <h3>Missing Biography</h3>
        <p>We are collecting biographies on New Theatre alumni, if this is you please <a href="{{ submit_link }}">submit one here</a>.</p>
      </div>
    </div>
    {% endif %}

    <section class="person-past">
      <h2>Then</h2>
      <dl class="person-meta-list">
        {% for course in person.course %}
          <dt><i class="fa fa-fw fa-book"></i>Course</dt>
          <dd>{{ course }}</dd>
        {% else %}
          <dt><i class="fa fa-fw fa-book"></i>Course</dt>
          <dd><span class="unknown">Unknown</span></dd>
        {% endfor %}

        {% if person.award %}
        <dt><i class="fa fa-fw fa-trophy"></i>Award</dt>
        <dd>{{ person.award }}</dd>
        {% endif %}

        {% if person.committees %}
        <dt><i class="fa fa-fw fa-group"></i>Committees</dt>
        <dd>
          <ul class="person-meta-list">
          {% for record in person.committees %}
            <li>
              <a href="{{ record.item.year_page.url }}" class="person-meta-year">
               {{ record.item.title }}
              </a>
              {% for role in record.roles %}
                <span class="person-meta-role">{{ role }}</span>
              {% endfor %}
            </li>
          {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
    </section>

    {% if person.placeholder == false %}
    <!-- Person has a file -->

    <section class="person-current">
      <h2>Now</h2>
      <dl class="person-meta-list">

      {% for career in person.careers %}
        <dt><i class="fa fa-fw fa-building"></i>Career</dt>
        <dd>{{ career }}</dd>
      {% endfor %}

      {% link_list links %}

      {% link_list news %}
      </dl>

    </section>

    {% endif %}

  </div>

</div>

<div class="person-shows-outer">
  <section class="person-shows">
    {% for record in person.shows %}
    <div class="person-show">
      <div class="person-show-poster">
        <a href="{{ record.item.url }}" title="{{ record.item.title }}">
        {% if record.item.poster %}
          {% image person_show_poster for_shows/{{ record.item.poster.image }} alt="{{ record.item.title }} poster" %}
        {% else %}
          <!-- Missing Poster -->
        {% endif %}
        </a>
      </div>

      <h3 class="person-show-title">
        {{ record.item.title }}
      </h3>

      <div class="person-show-meta">
        <span class="person-show-season season-{{ record.item.season | downcase | replace:" ","-" }}" title="{{ record.item.season }}"></span>
        <span class="person-show-year">{{ record.item.year_page.title }}</span>
      </div>

      <ul class="person-show-roles">
      {% for role in record.roles %}
        <li>{{ role }}</li>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </section>
</div>
