---
layout: default
---

{% assign committee_page = site.collections.committees.docs | where: "year", page.year %}


<ul class="breadcrumbs">
  <li class="breadcrumb">
    <a href="/shows/">Shows</a>
  </li>
  <li class="breadcrumb">
    <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
</ul>

<div class="page">
  <div class="year-shows">
    {{ content }}
  </div>
  <div class="year-links">
    <ul>
      {% if committee_page.size == 1 %}<li><a href="{{committee_page[0].url}}">Committee</a></li>{% endif %}
    </ul>
  </div>
</div>
