---
layout: default
body_class: section-archives layout-show
---

{% assign show = page %}
{% if show.missing_majority %}
  {% capture submit_link %}/collect/show/?show={{show.path}}{% endcapture %}
{% endif %}

<div class="breadcrumbs">
  <div class="breadcrumb-inner">

    <div class="breadcrumb-controls">
      <a {% if show.seq_previous %}href="{{ show.seq_previous.url }}" class="enabled"{% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %} title="Previous Show"><i class="ion-chevron-left"></i></a>
      <a {% if show.seq_next %}href="{{ show.seq_next.url }}" class="enabled"{% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %} title="Next Show"><i class="ion-chevron-right"></i></a>
    </div>

    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">
          Archives
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.year_page.decade }}">
        <a href="{{ show.year_page.url }}">
          {{ show.year_page.title }}
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.year_page.decade }}-child">
        <a href="{{ show.url }}">
          {{ show.title | escape_once }}
        </a>
      </li>
    </ul>

  </div>
</div>

<div class="show">
  <div class="show-wrap show-row debug" data-debug-toggle>
    {% include def-data.html def=site.data.defs.show model='show' %}
    <p>{% if show.missing_fields %}Show does not contain {{ show.missing_fields }}{% endif %}</p>
  </div>

  {% if show.date_start == null and show.missing_majority == false %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_basic_details_missing.html %}
    </div>
  </div>
  {% endif %}

  <div class="show-wrap show-row">
    <div class="show-info">
      <header class="show-header">
        <h1 class="show-title">{{ show.title | escape_once }}</h1>

        <div class="meta-row">
          {% if show.student_written %}
            <i class="meta-icon fa fa-pencil" title="Student Written"></i>
          {% elsif show.playwright_type == "devised" %}
            <i class="meta-icon fa fa-group"></i>
          {% elsif show.playwright_type == 'improvised' %}
            <i class="meta-icon fa fa-comments-o"></i>
          {% else %}
            <i class="meta-icon fa fa-book"></i>
          {% endif %}
          <div class="meta-col show-playwright show-playwright-{{ show.playwright_type }}">
            <p>
              {% if show.playwright_type != "unknown" %}
                {% if show.playwright %}
                <a href="/playwrights/#{{ show.playwright | anchor }}">
                  {{ show.playwright_formatted | escape_once }}
                </a>
                {% else %}{{ show.playwright_formatted | escape_once }}{% endif %}
              {% else %}
                <span class="unknown">Playwright Unknown</span>
              {% endif %}

              {% if show.translator %}
                <br /><span class="translator">Translated by {{ show.translator | escape_once }}</span>
              {% endif %}

              {% if show.adaptor %}
                <br /><span class="adaptor">Adapted by {{ show.adaptor | escape_once }}</span>
              {% endif %}
            </p>
          </div>
          <i class="meta-icon fa fa-reorder"></i>
          <div class="meta-col show-season">
            <p class="season-{{ show.season | downcase | replace:" ","-" }}">
            {% if show.company %}
              <a href="{{ show.season_path }}">{{ show.company | escape_once }}</a>
            {% elsif show.season %}
              <a href="{{ show.season_path }}">{{ show.season }}</a>
            {% else %}
              <span class="unknown">Season Unknown</span>
            {% endif %}
            </p>
          </div>
          <i class="meta-icon fa fa-calendar"></i>
          <div class="meta-col show-date">
            <p>{% if show.date_start %}{% include liquid/date_range.html %}{% else %}<span class="unknown">Dates Unknown</span>{% endif %}</p>
          </div>
          <i class="meta-icon fa fa-home"></i>
          <div class="meta-col show-venue">
            <p>
            {% if show.venue and show.venue != "unknown" %}
              <a href="{{ show.venue_path }}">{{ show.venue }}</a>
            {% else %}
              <span class="unknown">Venue Unknown</span>
            {% endif %}
            </p>
          </div>
        </div>

      </header>
      {% if show.missing_majority == true %}
        {% include boxes/show_missing_majority.html %}
      {% endif %}
      <article class="show-synopsys">
        {{ content }}

        {% if show.trivia %}
          {% include trivia-list.html trivia=show.trivia %}
        {% else %}
          {% unless show.ignore_missing or show.missing_majority %}
            {% include boxes/show_facts_missing.html %}
          {% endunless %}
        {% endif %}
      </article>

      {% if show.assets.size > 0 %}
      <section class="show-assets">
        <h3>Show Materials</h3>
        {% include show_assets_list.html assets=show.assets %}
      </section>
      {% else %}
        {% unless show.ignore_missing or show.missing_majority %}{% include boxes/show_assets_missing.html %}{% endunless %}
      {% endif %}

    </div>
    <div class="show-poster">
      {% if show.poster %}
        <img src="{{ show.poster.image.poster_large }}" alt="{{ show.title | escape_once }} poster" />
      {% else %}
        {% unless show.missing_majority %}
          {% include boxes/show_poster_missing.html %}
        {% endunless %}
      {% endif %}
    </div>

    {% if show.links %}
      <div class="show-links">
        {% include link-list.html links=show.links %}
      </div>
    {% endif %}

  </div>

  {% if show.smugmug_album %}

  <div class="debug-comment wrapper" data-debug-toggle>
    <i class="ion-camera"></i>
    SmugMug album {{ show.smugmug_album.AlbumKey }}: {{ show.smugmug_album.Title | escape_once }} ({{ show.smugmug_album.UrlName }})<br />
    Last retrieved at {{ show.smugmug_album.LastFetched }}<br />
    Album last organised at: {{ show.smugmug_album.LastUpdated }}<br />
    Album images last updated at: {{ show.smugmug_album.ImagesLastUpdated }}<br />
    {{ show.smugmug_album.ImageCount }} total images
  </div>

  <div id="show-prod-shots" class="show-photos-outer">

    <section class="show-photos show-photos-smug lightbox-group">
      <div class="show-photos__inner">
      {% for image in show.smugmug_album.Images %}
      <div class="show-photo-single debug-container">
        <a class="lightbox-link"
           href="{{ image.LargeImage.Url }}"
           title="{{ image.Title | escape_once }}"
           data-type="image">
          <img class="lazy-image"
               src="/images/image-preload.png"
               data-lazy-src="{{ image.ThumbImage.Url }}"
               data-image-count={{ image.ImageCount }}
               alt="Show production shot"
               title="{{ image.Title | escape_once }}" />
          <noscript>
            <img src="{{ image.ThumbImage.Url }}" alt="Show production shot" title="{{ image.Title | escape_once }}" />
          </noscript>
          <div class="debug-abs-bottom-left" data-debug-toggle title="Photo type">{{ image.ImageKey }}</div>
          <div class="debug-abs-top-left" data-debug-toggle title="Photo image">{{ image.FileName }}</div>

        </a>
      </div>
      {% endfor %}
      </div>
    </section>

    <div class="show-photos-controls">
     <div class="show-photos-controls__inner">
      <div class="fade-out-overlay"></div>
      <div class="gallery-control">
        <a href="{{ show.smugmug_album.WebUri }}"
           title="Show all photos"
           data-gallery-toggle>
          <div class="show-label" data-show-label>
            <i class="ion-ios-arrow-down"></i>
            {{ show.smugmug_album.ImageCount }} production shots
            <i class="ion-ios-arrow-down"></i>
          </div>
          <div class="hide-label" data-hide-label>
            <i class="ion-ios-arrow-up"></i>
            Hide production shots
            <i class="ion-ios-arrow-up"></i>
          </div>
        </a>
      </div>
      <div class="smugmug-link">
        <a href="{{ show.smugmug_album.WebUri }}" title="View album on SmugMug">
          <div class="smugmug-link-logo">
            <img src="/images/smugmug-white-64.png" alt="SmugMug logo">
          </div>
          <div class="smugmug-link-text">
            View album on SmugMug
          </div>
        </a>
      </div>
     </div>
    </div>

  </div>

  {% else %}

  {% unless show.ignore_missing or show.missing_majority %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_photos_missing.html %}
    </div>
  </div>
  {% endunless %}

  {% endif %}

<!--   <div class="show-assets-outer">

  </div> -->

  <div class="show-wrap show-row">
    <section class="show-cast debug-container">
      <div class="debug-abs-top-left" data-debug-toggle title="Number of cast">{{ show.cast.size }}</div>
      {% unless show.ignore_missing and show.cast.size == null %}{% unless show.missing_majority and show.cast.size == null %}<h3>Cast</h3>{% endunless %}{% endunless %}
      {% if show.cast_incomplete == true %} 
        {% unless show.ignore_missing or show.missing_majority %} 
          {% include boxes/show_cast_short.html cast_note=show.cast_note %}
        {% endunless %}
      {% endif %}
      {% if show.cast == null %}
        {% unless show.ignore_missing or show.missing_majority %}
          {% include boxes/show_cast_missing.html %}
        {% endunless %}
      {% else %}
        {% include person_list.html people=show.cast enable_role_icons=false %}
      {% endif %}
    </section>
    {% unless show.crew_incomplete == false and show.crew.size == null %}
      <section class="show-crew debug-container">
        <div class="debug-abs-top-left" data-debug-toggle title="Nunber of crew">{{ show.crew.size }}</div>
        {% unless show.ignore_missing and show.crew.size == null %}{% unless show.missing_majority and show.crew.size == null %}<h3>Crew</h3>{% endunless %}{% endunless %}
        {% if show.crew.size < site.show_low_crew or show.crew_incomplete == true %}
          {% unless show.ignore_missing or show.crew_incomplete == false or show.missing_majority %}
            {% include boxes/show_crew_short.html crew_note=show.crew_note %}        
          {% endunless %}
        {% endif %}
        {% if show.crew == null %}
          {% unless show.ignore_missing or show.missing_majority %}
            {% include boxes/show_crew_missing.html %}
          {% endunless %}
        {% else %}
          {% include person_list.html people=show.crew enable_role_icons=true %}
        {% endif %}
      </section>
    {% endunless %}
  </div>

</div>

<script type="text/javascript">
// Reversed to make sense with direction
var jekyll_page_up = "/years/{{ show.year }}";
var jekyll_page_previous = "{{ show.seq_previous.url }}";
var jekyll_page_next = "{{ show.seq_next.url }}";
</script>
