---
layout: default
---
{% assign show = page %}

{% assign year_page = site.pages | where: "group", "year" | where: "year", show.year %}
{% assign posters = show.assets | where:'type', 'poster' %}

{% assign year = show.year %}
{% include liquid/year_to_decade.html %}

<ul class="breadcrumbs">
  <li class="breadcrumb">
    <a href="/years/">Years</a>
  </li>
  <li class="breadcrumb breadcrumb-{{ decade }}">
    <a href="/years/{{show.year}}">{{ year_page[0].title }}</a>
  </li>
  <li class="breadcrumb breadcrumb-{{ decade }}-child">
    <a href="{{show.url}}">{{show.title}}</a>
  </li>
</ul>

<div class="show">

  {% if show.date_start == null %}
  <div class="show-wrap">
    {% include boxes/show_basic_details_missing.html %}
  </div>
  {% endif %}

  <div class="show-wrap show-row">
    <div class="show-info">
      <header class="show-header">
        <h1 class="show-title">{{ show.title }}</h1>
        <div class="meta-col show-playwright">
          <i class="meta-icon fa fa-book"></i>
          <p class="meta-content">{% if show.playwright %}by {% if show.student_written %}<i class="fa fa-pencil show-student-written" title="Student Written"></i> {% endif %}{{ show.playwright }}{% else %}<span class="unknown">Playwright Unknown</span>{% endif %}</p>
        </div>
        <div class="meta-col show-season">
          <i class="meta-icon fa fa-reorder"></i>
          <p class="meta-content">{% if show.season %}{{show.season}} season{% else %}<span class="unknown">Season Unknown</span>{% endif %}</p>
        </div>
        <div class="meta-col show-date">
          <i class="meta-icon fa fa-calendar"></i>
          <p class="meta-content">{% if show.date_start %}{% include liquid/date_range.html %}{% else %}<span class="unknown">Dates Unknown</span>{% endif %}</p>
        </div>
        <div class="meta-col show-venue">
          <i class="meta-icon fa fa-home"></i>
          <p class="meta-content">{% if show.venue %}{{ show.venue }}{% else %}<span class="unknown">Venue Unknown</span>{% endif %}</p>
        </div>
      </header>
      <article class="show-synopsys">
        <h3>Synopsis</h3>
        {{ content }}
      </article>
      {% if show.assets %}
      <section class="show-assets">
        <h3>Publicity Materials</h3>
        <ul class="show-assets-list">
          {% for asset in show.assets %}
          {% if asset.filename %}
            <li class="show-asset-file">
              {% if asset.type == "programme" %}<i class="ion-ios-book-outline"></i>
              {% else %}<i class="ion-document-text"></i>{% endif %}
              <a href="/assets/for_shows/{{ asset.filename }}" target="_blank">{{ asset.title }}</a>
            </li>
          {% elsif asset.image %}
            <li class="show-asset-image">
              <a class="fancybox" rel="assets" href="/images/for_shows/{{ asset.image }}" title="{{ asset.caption }}">
                {% image show_asset for_shows/{{ asset.image }} %}
              </a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
      {% else %}
        {% include boxes/show_assets_missing.html %}
      {% endif %}
    </div>
    <div class="show-poster">
      {% if posters %}
        {% image show_poster for_shows/{{ posters[0].image }} %}
      {% else %}
        {% include boxes/show_poster_missing.html %}
      {% endif %}
    </div>

  </div>

  {% if show.photos == null %}
  <div class="grid-wrap">
    {% include boxes/show_photos_missing.html %}
  </div>
  {% else %}
  <div class="show-photos-outer">
    <section class="show-photos">
      {% for image in show.photos %}
      <div class="show-photo-single">
        <a class="fancybox" rel="photos" href="/images/for_shows/{{ image.image }}" title="{{ image.caption }}">
          {% image show_photo for_shows/{{ image.image }} title={{image.caption}} %}
        </a>
      </div>
      {% endfor %}
    </section>
  </div>
  {% endif %}

<!--   <div class="show-assets-outer">

  </div> -->

  <div class="show-wrap show-row">
    <section class="show-cast">
      <h3>Cast: {{ show.cast | size }}</h3>
      {% if show.cast == null %}
      {% include boxes/show_cast_missing.html %}
      {% endif %}
      {% assign people = show.cast %}
      {% include person_list.html %}
    </section>
    <section class="show-crew">
      <h3>Crew: {{ show.crew | size }}</h3>
      {% if show.crew == null %}
      {% include boxes/show_crew_missing.html %}
      {% endif %}
      {% if show.crew.size < 4 %}
      {% include boxes/show_crew_short.html %}
      {% endif %}
      {% assign people = show.crew %}
      {% include person_list.html %}
    </section>
  </div>

  <div class="show-footer">
    <!-- <a href="https://github.com/newtheatre/history-project/blob/gh-pages/{{show.path}}">https://github.com/newtheatre/history-project/blob/gh-pages/_{{show.url}}</a -->
  </div>

</div>


