---
layout: default
---

{% assign show = page %}

{% assign year_page = site.pages | where: "group", "year" | where: "year", show.year %}
{% assign posters = show.assets | where:'type', 'poster' %}

{% assign year = show.year %}
{% include liquid/year_to_decade.html %}

{% assign shows_in_year = site.collections.shows.docs | where: "year", show.year | sort: "season_sort" %}
{% assign next_trigger = false %}

{% for ishow in shows_in_year %}
  <!--{{ishow.title}}-->
  {% if next_trigger %}
    {% assign next_trigger = false %}
    {% assign next_show = ishow %}
  {% endif %}
  {% if ishow == show %}
    {% assign prev_show = last %}
    {% assign next_trigger = true %}
  {% endif %}
  {% assign last = ishow %}
{% endfor %}

<div class="breadcrumbs">
  <div class="breadcrumb-inner">

    <div class="breadcrumb-controls">
      <a {% if prev_show %}href="{{prev_show.url}}" class="enabled"{% else %}href="#" class="disabled"{% endif %} title="Previous Show"><i class="ion-chevron-left"></i></a>
      <a {% if next_show %}href="{{next_show.url}}" class="enabled"{% else %}href="#" class="disabled"{% endif %} title="Next Show"><i class="ion-chevron-right"></i></a>
    </div>

    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">Archives</a>
      </li>
      <li class="breadcrumb breadcrumb-{{ decade }}">
        <a href="/years/{{show.year}}">{{ year_page[0].title }}</a>
      </li>
      <li class="breadcrumb breadcrumb-{{ decade }}-child">
        <a href="{{show.url}}">{{show.title}}</a>
      </li>
    </ul>

  </div>
</div>

<div class="show">
  {% if show.comment %}
  <div class="debug-comment wrapper" data-debug-toggle>{{ show.comment }}</div>
  {% endif %}

  {% if show.date_start == null %}
  <div class="show-wrap">
    {% include boxes/show_basic_details_missing.html %}
  </div>
  {% endif %}

  <div class="show-wrap show-row">
    <div class="show-info">
      <header class="show-header">
        <div class="debug-abs-top-left" data-debug-toggle title="year">{{ year }}</div>
        <h1 class="show-title">{{ show.title }}</h1>
        <div class="show-playwright">
          <i class="show-meta-icon fa fa-book"></i>
          <p class="icon-pad">{% if show.playwright %}by {% if show.student_written %}<i class="fa fa-pencil show-student-written" title="Student Written"></i> {% endif %}{{ show.playwright }}{% else %}<span class="unknown">Playwright Unknown</span>{% endif %}</p>
        </div>
        <div class="show-season">
          <i class="show-meta-icon fa fa-reorder"></i>
          <p class="icon-pad">{% if show.season %}{{show.season}} season{% else %}<span class="unknown">Season Unknown</span>{% endif %}</p>
        </div>
        <div class="show-date">
          <i class="show-meta-icon fa fa-calendar"></i>
          <p class="icon-pad">{% if show.date_start %}{% include liquid/date_range.html %}{% else %}<span class="unknown">Dates Unknown</span>{% endif %}</p>
        </div>
        <div class="show-venue">
          <i class="show-meta-icon fa fa-home"></i>
          <p class="icon-pad">{% if show.venue %}{{ show.venue }}{% else %}<span class="unknown">Venue Unknown</span>{% endif %}</p>
        </div>
      </header>
      <article class="show-synopsys">
        <h3>Synopsis</h3>
        {{ content }}
      </article>
      {% if show.assets %}
      <section class="show-assets">
        <h3>Publicity Materials</h3>
        <ul class="show-assets-list">
          {% for asset in show.assets %}
          {% if asset.filename %}
            <li class="show-asset-file debug-container">
              {% if asset.type == "programme" %}<i class="ion-ios-book-outline"></i>
              {% else %}<i class="ion-document-text"></i>{% endif %}
              <a href="/assets/for_shows/{{ asset.filename }}" target="_blank">{{ asset.title }}</a>
              <div class="debug-abs-bottom-left" data-debug-toggle title="Asset type">{{ asset.type }}</div>
              <div class="debug-abs-top-left" data-debug-toggle title="Asset filename">{{ asset.filename }}</div>
            </li>
          {% elsif asset.image %}
            <li class="show-asset-image debug-container">
              <a class="fancybox" rel="assets" href="/images/for_shows/{{ asset.image }}" title="{{ asset.caption }}">
                {% image show_asset for_shows/{{ asset.image }} %}
              </a>
              <div class="debug-abs-bottom-left" data-debug-toggle title="Asset type">{{ asset.type }}</div>
              <div class="debug-abs-top-left" data-debug-toggle title="Asset image">{{ asset.image }}</div>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
      {% else %}
        {% include boxes/show_assets_missing.html %}
      {% endif %}
    </div>
    <div class="show-poster">
      {% if posters.size > 0 %}
        {% image show_poster for_shows/{{ posters[0].image }} %}
      {% else %}
        {% include boxes/show_poster_missing.html %}
      {% endif %}
    </div>

  </div>

  {% if show.photos == null %}
  <div class="grid-wrap">
    {% include boxes/show_photos_missing.html %}
  </div>
  {% else %}
  <div class="show-photos-outer">
    <section class="show-photos">
      {% for image in show.photos %}
      <div class="show-photo-single debug-container">
        <a class="fancybox" rel="photos" href="/images/for_shows/{{ image.image }}" title="{{ image.caption }}">
          {% image show_photo for_shows/{{ image.image }} title={{image.caption}} %}
          <div class="debug-abs-bottom-left" data-debug-toggle title="Photo type">{{ image.type }}</div>
          <div class="debug-abs-top-left" data-debug-toggle title="Photo image">{{ image.image }}</div>
        </a>
      </div>
      {% endfor %}
    </section>
  </div>
  {% endif %}

<!--   <div class="show-assets-outer">

  </div> -->

  <div class="show-wrap show-row">
    <section class="show-cast">
      <h3>Cast: {{ show.cast | size }}</h3>
      {% if show.cast == null %}
      {% include boxes/show_cast_missing.html %}
      {% endif %}
      {% assign people = show.cast %}
      {% include person_list.html %}
    </section>
    <section class="show-crew">
      <h3>Crew: {{ show.crew | size }}</h3>
      {% if show.crew == null %}
      {% include boxes/show_crew_missing.html %}
      {% endif %}
      {% if show.crew.size < 4 %}
      {% include boxes/show_crew_short.html %}
      {% endif %}
      {% assign people = show.crew %}
      {% include person_list.html %}
    </section>
  </div>

  <div class="show-footer">
    <!-- <a href="https://github.com/newtheatre/history-project/blob/gh-pages/{{show.path}}">https://github.com/newtheatre/history-project/blob/gh-pages/_{{show.url}}</a -->
  </div>

</div>

<script type="text/javascript">
// Reversed to make sense with direction
var jekyll_page_up = "/years/{{show.year}}";
var jekyll_page_previous = "{{prev_show.url}}";
var jekyll_page_next = "{{next_show.url}}";
</script>
