---
layout: default
body_class: section-archives layout-venue header-nobr breadcrumb-no-bottom-margin
current: archives
class: venue
---

{% include archive_breadcrumbs.html section_title="Venues" section_tag="venues" %}

{% unless page.placeholder %}

<div class="grid-wrap grid-row debug" data-debug-toggle>
  {% include def-data.html def=site.data.defs.venue model='venue' %}
</div>

<div class="venue-header">
  <div class="venue-info venue-header__col">
    {{ page.content }}
    <div class="venue-info__meta">
      <p>
        {% if page.built %}<span><i class="ion-calendar"></i> {{ page.built }}</span>{% endif %}
        {% if page.city %}<span><i class="fa fa-building fa-fw"></i> {{ page.city }}</span>{% endif %}
        <span><i class="fa fa-ticket fa-fw"></i> {{ page.shows.size }} shows</span>
      </p>
      {% if page.links %}
        {% include link-list.html links=page.links %}
      {% endif %}
    </div>
  </div>

  <div class="venue-photo venue-header__col">
    {% if page.smug_images %}
      {% for image in page.smug_images %}
      <img src="{{ image.medium }}" alt="{{ page.title }}" />
      {% endfor %}
    {% else %}
    &nbsp;
    {% endif %}
  </div>

  {% if page.location %}
  <div class="venue-map venue-header__col">
    {% include elements/map.html location=page.location %}
  </div>
  {% endif %}
</div>

{% endunless %}

<div class="venue-page page">
  <div class="year-shows">
    {% assign show_list_shows = page.shows %}
    {% include show_list.html %}

    <p class="micro">
      <a href="/collect/show/" class="subtle">Shows missing? Tell us about them&hellip;</a>
    </p>
  </div>
</div>

